* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #000000;
    --secondary: rgb(126, 119, 119);
    --tertiary: rgb(126, 119, 119);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.movie-area {
    padding: 10px;
}

.movie-names {
    padding: 5px;
    width: 525px;
    display: inline-block;
}

.movie-names p{
    padding: 5px 0;
    font-size: 12px;
    display: inline-block;
    width: 350px;
}

.nominations {
    padding: 5px;
    width: 525px;
    display:inline-block;
    vertical-align: top;
}

.nominations p {
    padding: 5px 0;
    font-size: 12px;
    display: inline-block;
    width: 350px;
}